h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-style:italic;
    color:rgb(98, 45, 162);
    border: rgb(245, 245, 255) dotted 5px;
    padding: 5px;
}

body {
  background-color: rgb(162, 184, 248);
}

h4{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
  border: #ffffff dashed 4px;
  margin: 10px;
  align-items: left;
  border-radius: 50px;
}

.heading{
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  font-style:italic;
  color:rgb(98, 45, 162);
}

#answer{
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(0, 94, 255);
  margin:25px
}